<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.android.simulator.launchConfigurationType">
<stringAttribute key="ATTR_LOG_LEVEL" value="Trace"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="HalloWelt"/>
<stringAttribute key="screen_type" value="HVGA"/>
<stringAttribute key="sdk_version" value="Android 2.2"/>
</launchConfiguration>
